body{
	margin:0 0 0 0;
	background-color: #000000;
	font-size:1em;
	color:#ffffff;
	overflow:scroll;
}
.class_day{
	text-align:center;
	width:99%;
	
	/*border-width:1px; border-style:solid;*/
	overflow:hidden;
}
.class_times{
	float:left; 
	
	width:50px;
	margin-top:17px;
	
	
}
.class_times_hr{
	height:119px;
	border-width:1px;
	border-bottom-style:dotted;
}

.class_title_day{
	background-color:#333333;
	color:#ffffff;
	font-size:0.8em;
	width:100%;
}
.class_title_room{
	height:15px;
	background-color:#333333;
	color:#ffffff;
	font-size:0.8em;
	width:100%;
}

.class_room{
	margin: 1px 1px 1px 1px;
	border-width:1px; border-style:solid;
	float:left; 
}

.class_sub{
	background-color:#0000CC;
	border-width:1px; border-style:solid;
	font-size:0.8em;
}